<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Created by <%= link_to("Kailee Gray", "https://github.com/kaileeagray/", target:"_blank", rel:"noopener no referrer")%>.
  <%= link_to("Rails assessment", "https://github.com/learn-co-students/rails-assessment-v-000", target:"_blank", rel:"noopener no referrer")%> for Flatiron School's <%= link_to("Learn", "https://learn.co", target:"_blank", rel:"noopener no referrer")%>.
</p>
<p>
  Used Learn's Rails curriculum and <%= link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/", target:"_blank", rel:"noopener no referrer")%>.
</p>
<p>
  Version 2 of Social Pro-Con. <%= link_to("Version 1", "https://github.com/kaileeagray/social-pro-con-sinatra-assessment", target:"_blank", rel:"noopener no referrer")%> created with Sinatra.
</p>
