<% provide(:title, "About") %>
  <h1 class="white_rounded_shadow">About</h1>
  <h2>
    <%= link_to("Rails portfolio project", "https://github.com/learn-co-students/rails-assessment-v-000", target:"_blank", rel:"noopener no referrer")%> and <%= link_to("Rails, jQuery porfolio project", "https://learn.co/tracks/full-stack-web-development/rails-and-javascript/project-mode/rails-app-with-a-jquery-front-end", target:"_blank", rel:"noopener no referrer")%> for Flatiron School's <%= link_to("Learn", "https://learn.co", target:"_blank", rel:"noopener no referrer")%>. </h2>
  <h2>Used Learn's Rails curriculum and <%= link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/", target:"_blank", rel:"noopener no referrer")%>.  <%= link_to("Version 1", "https://github.com/kaileeagray/social-pro-con-sinatra-assessment", target:"_blank", rel:"noopener no referrer")%> created with Sinatra.
  </h2>
