<% if logged_in?%>

<div class="row white_rounded_shadow">
  <div class="col-md-8">
    <%= link_to gravatar_for(current_user, size: 80), current_user %>
    <h1 class="left"><%= current_user.name %></h1>
    <%= link_to "view my profile", user_path(current_user) %>
  </div>
  <div class="col-md-1">
    <section class="stats">
      <%= render 'shared/user_list_count' %>
    </section>
  </div>
  <div class="col-md-1">
    <section class="stats">
      <%= render 'users/starred' %>
    </section>
  </div>
</div>
<div class="container">
  <%= render 'shared/feed' %>
</div>
<% else %>
<div class="jumbotron">
  <h1>Social Pro-Con</h1>
  <h2>
      Create pro-con lists. Follow your friends' pro-con lists.
  </h2>
  <div class="center-block break">
      <%= link_to "Sign up now!", signup_path, class: "center btn btn-lg btn-primary center-block" %>
  </div>
</div>
<% end %>
