<%= form_for(@list) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description, "List Details" %>
  <%= f.text_area :description%>
  <div class="row">
    <%= f.fields_for :items do |ff|%>
      <div class="col-md-6">
        <div class="row break">
          <div class="col-md-10">
            <%= ff.label "#{ff.object.pro_con_name}" %>
            <%= ff.text_area :description, class: 'form-control' %>
          </div>
          <div class="col-md-2">
            <%= ff.label :weight %>
            <%= ff.number_field(:weight, in: 0..10)%>
          </div>
            <%= ff.hidden_field :pro_con %>
            <%= ff.hidden_field :user_id, :value => current_user.id %>
        </div>
      </div>
    <%end%>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
