<%= form_for(@list) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description, "Description (optional)" %>
  <%= f.text_area :description%>

  <% if current_page?(new_list_path) %>
  <div class="row">
    <div class="col-md-6">

      <%= f.fields_for :items, @pro do |ff|%>
        <%= render 'shared/error_messages', object: ff.object %>
        <%= render partial: 'items/form', locals: {f: ff, item: @pro, pro_con: @pro.pro_con, pro_con_name: @pro.pro_con_name}%>
      <%end%>
  </div>
  <div class="col-md-6">
      <%= f.fields_for :items, @con do |ff|%>
        <%= render 'shared/error_messages', object: ff.object %>
        <%= render partial: 'items/form', locals: {f: ff, item: @con, pro_con: @con.pro_con, pro_con_name: @con.pro_con_name}%>
      <%end%>
    </div>

  <%end%>
  <%= f.submit "Create New List", class: "btn btn-primary" %>
<% end %>
