    <%= form_for :item, url: url, method: method do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :pro_con, :value => item.pro_con %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.hidden_field :list_id, :value => item.list_id %>
      <div class="row break">
        <div class="col-md-10">
          <%= f.label " #{item.pro_con_name}" %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= f.label :weight %>
          <%= f.number_field(:weight)%>
        </div>
    </div>
      <%= f.submit "#{create_edit} #{item.pro_con_name}"%>
  <% end %>
