<div class="col-md-6">
  <h1 class="left"><%=pro_con.titlecase%>s <small class="right bottom">&nbsp; total: <%= sum %></small></h1>
  <div class="button-group">
  <%if pro_con == "pro"%>
    <%= link_to "add pro", new_pro_path, class: "btn btn-small btn-success right"%>
  <%else%>
    <%= link_to "add con", new_con_path, class: "btn btn-small btn-warning right"%>
  <%end%>
  </div>
  <br>
  <table class="table table-responsive">
    <%= render partial: 'items/item_user', locals: {user: list.user}%>
    <tbody>
      <%= render :partial => "items/item", :collection => owner_items, :as => :item %>
    </tbody>
  </table>

  <% contributor_items_hash.each do |user, items|%>
    <table class="table table-responsive">
      <%= render partial: 'items/item_user', locals: {user: user}%>
      <tbody>
        <%= render :partial => "items/item", :collection => items, :as => :item %>
      </tbody>
    </table>
  <%end%>

  <table class="table table-responsive">
    <thead>
      <h2 class="right"><%=pro_con%> total: <%= sum %></h2>
    </thead>
  </table>
</div>
