<% if current_user == pro.list.user || pro.list.admin?(current_user)%>
<tr>
  <td class="col-md-1">
    <%= button_to list_pro_path(pro.list, pro), :method => "delete", :class => "btn btn-xs btn-danger right" do %>
      <i class="glyphicon glyphicon-trash"></i>
  <% end %>
</td>
  <td class="col-md-1">
    <%= link_to edit_list_pro_path(pro.list, pro), class: "btn btn-xs btn-primary right", title: "edit pro" do %>
        <i class="glyphicon glyphicon-edit"></i>
    <% end %>
  </td>
  <td>
    <%=pro.description%>
  </td>
  <td class="col-md-1">
    <strong><%=pro.weight%></strong>
  </td>
</tr>

<% elsif current_user == pro.user%>
<tr>

  <td class="col-md-1">
    <%= link_to edit_list_pro_path(pro.list, pro), class: "btn btn-xs btn-primary right", title: "edit pro" do %>
        <i class="glyphicon glyphicon-edit"></i>
    <% end %>
  </td>
  <td>
    <%=pro.description%>
  </td>
  <td class="col-md-1">
    <strong><%=pro.weight%></strong>
  </td>
</tr>
<% else %>
<tr>

  <td>
    <%=pro.description%>
  </td>
  <td class="col-md-1">
    <strong><%=pro.weight%></strong>
  </td>
</tr>
<% end %>
